@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

header{
    background-image: url(./Assets/Hero-bg.png);
    width: 100%;
    height: 700px;
}

nav{
    width: 70%;
    height: 160px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1{
    font-family: "Raleway", sans-serif;
    font-size: 34px;
    color: #4E47FF;
    transition: 0.5s;
}

.logo h1:hover{
    color: #ff9e4f;
    cursor: pointer;
}

 .btn button{

    font-size: 16px;
    border-radius: 10px;
    color: white;
    background-color: #4E47FF;
    border: none;
    font-family: "Raleway", sans-serif;
    transition: 0.5s;
    padding: 15px 36px 15px 36px
}

button:hover{
    background-color: #ff9e4f;
    transform: scale(1.06);
    cursor: pointer;
}

.banner-text{
    margin: auto;
    margin-top: 120px;
    width: 905px;
    height: 237px;
    text-align: center;
}

.banner-text h1{
    padding-bottom: 22px;
    font-size: 65px;
    font-family: "Raleway", sans-serif;
    font-style: bold;
}

/* Set in action */

main{
    background-color: #4d47ff0e;
}

.action-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 116px;
    width: 70%;
    height: 330px;
    margin: auto;
    padding-bottom: 116px;
}

.action-text{
    width: 517px;
    height: 203px;
    font-family: "Raleway", sans-serif;
}
.action-text h1{
    font-size: 42px;
}
.action-text p{
    font-size: 24px;
    color: #25243269;
}

.action-container img{
    border-radius: 48px;
    transition: .5s;
}
.action-container img:hover{
    transform: scale(1.06);
}

/* productive user chart */

.productive-user{
    width: 70%;
    height: 310px;
    background-color: #4d47ff1c;
    margin: auto;
    padding: 50px 60px 50px 60px;
    text-align: center;
    border-radius: 24px;
}

.productive-text{
    width: 856px;
    height: 210px;
    margin: auto;
}

.productive-text h2{
    font-size: 42px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 52px;
}

.amount-container{
    display: flex;
    justify-content: space-between;
}

.amount h1{
    font-family: "inter",sans-serif;
    font-size: 80px;
    margin: 0;
    color: #4E47FF;
    transition: 0.5s;
}
.amount h1:hover{
    color: #ff9e4f;
    cursor: default;
}

.amount p{
    font-family: "inter",sans-serif;
    font-size: 20px;
    color: #25243269;
}

/* review-section */

.review-container{
    text-align: center;
    width: 70%;
    height: 350px;
    margin: auto;
    padding-top: 137px;
}
.review-container h1{
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    margin-bottom: 50px;
}

.review-section{
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.reviews{
    background-color: white;
    padding: 24px 30px 24px 30px;
    border-radius: 14px;
    text-align: left;
    transition: .5s;
}
.reviews:hover{
    transform: scale(1.06);
    cursor: default;
}

.ri-star-fill{
    color: gold;
}

.review-text{
    font-family: "inter",sans-serif;
}

.user{
    font-family: "inter",sans-serif;
    display: flex;
    align-items: center;
}

.user img{
    width: 60px;
    height:60px;
    border-radius: 999px;
    margin-right: 15px;
}

.user-text h3{
    color: #757575;
    font-size: 16px;
}
.user-text p{
    color: #B3B3B3;
    font-size: 16px;
}

/* focuse-section */

.focus-container{
    text-align: center;
    background-color: white;
    width: 70%;
    height: 700px;
    margin: auto;
    margin-top: 140px;
    padding-top: 71px;
    border-radius: 20px;
}

.focus-text h1{
    font-family:"Raleway", sans-serif;
    font-size: 50px;
}
.focus-text p{
    font-family:"Inter", sans-serif;
    font-size: 16px;
    color: #00000069;
    padding-bottom: 20px;
}

.focus-text img{
    margin-top: 30px;
    margin-bottom: 71px;
    border-radius: 48px;
}


/* contact */

.contact-container{
    width: 70%;
    height: 640px;
    padding-top: 93px;
    display: flex;
    margin: auto;
}

.contact-container h1{
    font-size: 97px;
    font-family:"Raleway", sans-serif;
}

form{
    width: 100%;
    height: 500px;
    border: none;
}
input{
    width: 100%;
    height: 70px;
    border: none;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 20px;
    padding-left: 10px;
}
.form label{
    font-family:"Inter", sans-serif;
    font-size: 18px
}
textarea{
    width: 100%;
    height: 135px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px;
    font-family:"Inter", sans-serif;

}

form button{
    width: 103%;
    height: 62px;
}

input::placeholder{
    font-size: 15px;
}
textarea::placeholder{
    font-size: 15px;
}

/* footer */

footer{
    width: 100%;
    height: 428px;
    text-align: center;
    align-items: center;
}

.footer-content{
    width: 540px;
    height: 221px;
    margin: auto;
    padding-top: 35px;
    text-align: center;
}

.footer-content .logo h1{
    font-size: 100px;
}

.footer-content p{
    font-family: "inter", sans-serif;
    color: #00000069;
    margin-top: -50px;
}

.links ul{
    list-style: none;
    display: flex;
    gap: 70px;
    margin-top: 30px;
}

li a{
    text-decoration: none;
    color: #8987A1;
    font-family: "inter", sans-serif;
    transition: 0.5s;
}

.links a:hover{
    color: #ff9e4f;
}